{% extends 'base.html' %}
{% block content %}
<h2>Ver Clientes</h2>
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Género</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id_cliente }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.genero }}</td>
            <td>
                <a href="{% url 'actualizar_clientes' cliente.id_cliente %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'borrar_clientes' cliente.id_cliente %}" class="btn btn-danger btn-sm">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}